# Coverage directory used by tools like istanbul
coverage
*.lcov
test-report.html
.nyc_output

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Other files and folders
.settings/
